# Java IDE and Build Files
*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
__pycache__

# C++ IDE and Build Files
/core/.vscode
/core/lib
!/core/lib/.gitkeep
/core/build
!/core/build/.gitkeep
/core/bin
!/core/bin/.gitkeep
